{% extends 'app/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for product in products %}
    <hr>
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.imageURL}}">
        <div class="box-element product">
            <h6><strong>{{product.product.name}}</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn update-cart">Winner Price : {{product.winner_price|floatformat:2}}</button>
            <a class="btn btn-outline-success" href="#">Winner : {{product.winner}}</a>
            <button class="btn btn-outline-secondary add-btn update-cart">Total Bidders : {{product.total_bidders}}</button>
            <a class="btn btn-outline-success" href="#">Transaction Id: {{product.hash}}</a>
            <hr>
        </div>
    </div>
    {% endfor %}
 {% for message in messages %}
    <p id="messages">{{message}}</p>
 {% endfor %}
</div>
{% endblock %}
